@model Presupuesto

<h2>@(Model?.IdPresupuesto == 0 ? "Crear Presupuesto" : "Editar Presupuesto")</h2>

<form asp-action="@(Model?.IdPresupuesto == 0 ? "Create" : "Edit")" method="post">
    <input type="hidden" asp-for="IdPresupuesto" />

    <div class="mb-3">
        <input type="text" asp-for="NombreDestinario" class="form-control" placeholder="NombreDestinario"
            aria-label="Descripcion">
    </div>

    <button type="submit" class="btn btn-warning">
        @(Model?.IdPresupuesto == 0 ? "Guardar" : "Actualizar")
    </button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}